<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Crew Covery Feedbacks</h1>
    <p class="lead">Give us your feedback</p>
    <img src="assets/images/crewcovery.png">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Feedbacks:</h1>
      <form name="form" ng-submit="feedBackController.newFeedback._id ? feedBackController.updateFeedback(form) : feedBackController.addFeedback(form)" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && (form.$submitted || !form.name.$pristine) }">
          <label for="name">Your Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" data-ng-model="feedBackController.newFeedback.name" required>
          <span id="helpBlock" class="help-block has-error" ng-show="form.name.$invalid && (form.$submitted || !form.name.$pristine)">Name is required!</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : form.description.$invalid && (form.$submitted || !form.description.$pristine) }">
          <label for="description">Your Feedback</label>
          <textarea class="form-control" minlength="10" name="description" id="description" data-ng-model="feedBackController.newFeedback.info" placeholder="Feedback" required></textarea>
          <span id="helpBlock" class="help-block has-error" ng-show="form.description.$invalid && (form.$submitted || !form.description.$pristine)">
            <span ng-show="form.description.$error.minlength">Description must be at least 10 words!</span>
            <span ng-show="form.description.$error.required">Description is required!</span>
          </span>
        </div>
        <button type="submit" class="btn btn-success" ng-disabled="form.$invalid"><i class="fa fa-plus"></i> {{ feedBackController.newFeedback._id ? 'Update' : 'Add' }} Feedback</button>
      </form>
    </div>
  </div>
  <div class="row" style="padding-top: 20px;" data-ng-if="feedBackController.successMessage">
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong><i class="fa fa-info-circle"></i> Thank you!</strong> {{ feedBackController.successMessage }}
    </div>

    <div class="alert alert-success alert-dismissible" role="alert" data-ng-if="feedBackController.errorMessage">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong><i class="fa fa-times"></i> Ops!</strong>{{ feedBackController.errorMessage }}
    </div>
  </div>
  <div class="row" style="padding-top: 20px;">
    <div class="col-lg-12">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
          <th>Edit</th>
          <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td colspan="5" class="text-center" data-ng-if="feedBackController.feedbacks.length === 0">No records available</td>
        </tr>
        <tr ng-repeat="feedback in feedBackController.feedbacks">
          <th scope="row">{{ $index + 1 }}</th>
          <td>{{ feedback.name }}</td>
          <td>{{ feedback.info }}</td>
          <td><a href="" data-ng-click="feedBackController.setEdit(feedback);">Edit</a></td>
          <td><a href="" data-ng-click="feedBackController.removeFeedback(feedback)">Remove</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<footer></footer>
